{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.12.1"}
        babashka/fs         {:mvn/version "0.5.26"}
        org.babashka/http-client {:mvn/version "0.4.23"}
        cheshire/cheshire {:mvn/version "6.0.0"}
        clj-python/libpython-clj {:mvn/version "2.026"}}}
