{:lint-as {libpython-clj2.python/py.  clojure.core/.
           libpython-clj2.python/py.- clojure.core/.
           libpython-clj2.python/py.. clojure.core/..
           libpython-clj2.require/require-python clojure.core/require}}
